@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond&family=Mulish&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/images/surfing_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.invalid-data-input {
  border-color: red;
}

.inputs,
.input1,
.input2,
.input3,
.input4 {
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.inputs {
  gap: 20px;
  padding: 15px;
  box-shadow: 0px 0px 4px 0px gray;
  border-radius: 5px;
  background-color: white;
}

.sign-up-inputs {
  position: absolute;
  margin-right: -3000px;
  visibility: hidden;
  overflow: hidden;
}

input {
  padding: 2px 30px 2px 4px;
  border: 1px solid gray;
  outline: green;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  font-weight: 100;
}
.sign-up-title {
  margin-bottom: 120px;
}
a {
  color: rgb(124, 99, 99);
  font-family: "Mulish", sans-serif;
  font-size: 14px;
}
a:hover {
  color: black;
}

.btn {
  padding: 10px 40px;
  background-color: rgb(111, 111, 236);
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 0px 1px 4px 0px gray;
  text-transform: uppercase;
  margin-top: 30px;
}

.btn:hover {
  background-color: rgb(136, 136, 238);
}

.user-avatar {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 2px;
}
.user-avatar:nth-child(2n + 2) {
  background-color: rgb(237, 226, 226);
  border-radius: 50%;
}
.show-avatars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  max-width: fit-content;
}

.sign-up-inputs.active {
  visibility: visible;
  margin-left: -3000px;
  transition: 600ms ease-in;
}
.hidden {
  display: none;
}
.sign-up-btn {
  margin-top: 150px;
}
